.body {
    background-color:pink;
}

.nav{
    background-color: black;
    display: flex;
    justify-content: space-around;

}


.nav_menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.menu {
    list-style: none;
}

.menu li {
    min-width: 8em;
    float: left;
    margin-right: 0.5em;
    text-align: center;

}

.menu li a:hover{
    background-color: black;
    color: whitesmoke;
}

.menu li a:link,
.menu li a:visited {
    display: block;
    padding: 0.2em;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
}


.titles {
    color: white;
}

.main {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;

}






.foot {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

#fo {
    font-size: 80px;
    font-family: fantasy;
}
