.container {
    background-color: pink;
}

.nav_menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:whitesmoke;
    padding: 5px;;
    margin: 0px;


}

.menu {
    list-style: none;
}

.menu li {
    min-width: 8em;
    float: left;
    margin-right: 0.5em;
    text-align: center;

}

.menu li a:hover{
    background-color: black;
    color: whitesmoke;
}

.menu li a:link,
.menu li a:visited {
    display: block;
    padding: 0.2em;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
}

.text {
    text-align: center;
}

.middle {
    position: relative;
     padding: 0px;
     margin: 70px;
}


  .overlay {
    position: absolute;
    TOP: 0;
    background: rgba(20, 20, 20, 0.2);
    width: 87%;
    opacity:0;
    transition: .9s ease;
    font-size: 35px;
    color:red;
    padding: 50px;

  }

  .middle:hover .overlay {
    opacity: 1.5;
  }
